<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<title>Главная - Доска объявлений</title>
</head>
<body>
	<h1>Объявления</h1>
	{% for bb in bbs %}
	<div>
		<h2>{{ bb.title }}</h2>
		<p>{{ bb.content }}</p>
		<p>{{ bb.published|date:"d.m.Y. H:i:s"}}</p>
		<p>Категория: {{ bb.rubric.name }}</p>
	</div>
	{% endfor %}
	
	<h1>Объявления по рубрикам</h1>
	{% for r in rs %}
	<div>
	    <h2>{{ r.name }}</h2>
	    {% for rbb in r.bb_set.all %}    
		<h3 >{{ rbb.title }}</h3>
		<p>{{ rbb.content }}</p>
		<p>{{ rbb.published|date:"d.m.Y. H:i:s"}}</p>
			
	    {% endfor %}
	</div>
	{% endfor %}
	
</body>
</html>
